{% extends 'model.html' %}

{% block conteudo %}

<style>
    .custom-container {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 8px;
    }

    .custom-search-box {
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .custom-search-box input {
        padding: 10px;
        width: 200px;
        border-radius: 25px;
        border: 2px solid #015799;
    }

    .card-status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .status-text {
        color: red;
        font-weight: bold;
    }

    .btn-custom {
        background-color: #F08424;
        color: white;
        border-radius: 15px;
        text-decoration: none;
        font-size: 14px;
        transition: all 200ms;
        display: inline-block;
    }

    .btn-custom:hover {
        background-color: #F08424;
        color: white;
        transform: scale(1.05);
    }

    .pagination {
        text-align: center;
        margin-top: 20px;
    }

    
</style>

<div class="custom-container">

    <div class="row">
        <!-- Card 1 -->
        <h4 style="padding-bottom: 2%;"><strong style="color:#F08424;">Luiz</strong> retirou 2 EPI´s no dia 29 de setembro as 19h</h4>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-danger">
                <div class="card-body position-relative">
                    <div class="card-status"></div>
                    <h5 class="card-title">Número do série(CA): 5185523</h5>
                    <p class="card-text">Equipamento: Bota de cozinha</p>
                    <p class="card-text">Status: <span class="status-text">Vencido</span></p>
                    <a href="#" class="btn btn-custom">Ver mais</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-danger">
                <div class="card-body position-relative">
                    <div class="card-status"></div>
                    <h5 class="card-title">Número do série(CA): 5185523</h5>
                    <p class="card-text">Equipamento: Bota de cozinha</p>
                    <p class="card-text">Status: <span class="status-text">Vencido</span></p>
                    <a href="#" class="btn btn-custom">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-container">

    <div class="row">
        <!-- Card 3 -->
         <h4 style="padding-bottom: 2%;"><strong style="color:#F08424;">Carol</strong> editou 3 EPI’s no dia 22 de setembro as 12h20</h4>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-danger">
                <div class="card-body position-relative">
                    <div class="card-status"></div>
                    <h5 class="card-title">Número do série(CA): 5185523</h5>
                    <p class="card-text">Equipamento: Bota de cozinha</p>
                    <p class="card-text">Status: <span class="status-text">Vencido</span></p>
                    <a href="#" class="btn btn-custom">Ver mais</a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-danger">
                <div class="card-body position-relative">
                    <div class="card-status"></div>
                    <h5 class="card-title">Número do série(CA): 5185523</h5>
                    <p class="card-text">Equipamento: Bota de cozinha</p>
                    <p class="card-text">Status: <span class="status-text">Vencido</span></p>
                    <a href="#" class="btn btn-custom">Ver mais</a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-danger">
                <div class="card-body position-relative">
                    <div class="card-status"></div>
                    <h5 class="card-title">Número do série(CA): 5185523</h5>
                    <p class="card-text">Equipamento: Bota de cozinha</p>
                    <p class="card-text">Status: <span class="status-text">Vencido</span></p>
                    <a href="#" class="btn btn-custom">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-container">

    <div class="row">
        <!-- Card 6 -->
         <h4 style="padding-bottom: 2%;"><strong style="color:#F08424;">Carlos</strong> descartou 1 EPI’s no dia 19 de setembro as 15h12</h4>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-danger">
                <div class="card-body position-relative">
                    <div class="card-status"></div>
                    <h5 class="card-title">Número do série(CA): 5185523</h5>
                    <p class="card-text">Equipamento: Bota de cozinha</p>
                    <p class="card-text">Status: <span class="status-text">Vencido</span></p>
                    <a href="#" class="btn btn-custom">Ver mais</a>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}