{% extends 'model.html' %}

{% block conteudo %}

<style>
    .highlight-card {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }
    .success-card {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
    .card-status {
        display: inline-block;
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
    }
    .status-vencido {
        background-color: #f8d7da;
        color: #721c24;
    }
    .status-noprazo {
        background-color: #d4edda;
        color: #155724;
    }
    .card-dot {
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .card-status-vencido {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .card-status-prazo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #198754;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .status-text-vencido {
        color: red;
        font-weight: bold;
    }

    .status-text-prazo {
        color: #198754;
        font-weight: bold;
    }

    .btn-custom {
        background-color: #F08424;
        color: white;
        border-radius: 15px;
        text-decoration: none;
        font-size: 14px;
        transition: all 200ms;
        display: inline-block;
    }

    .btn-custom:hover {
        background-color: #F08424;
        color: white;
        transform: scale(1.05);
    }

    .pagination {
        text-align: center;
        margin-top: 20px;
    }
    button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2%;
    transition: all 200ms;
    display: inline-block;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
    
</style>
</head>
<body>

<div class="container mt-5">
<div class="row">
    <!-- Informações do Funcionário -->
    <div class="col-md-6">
        <h3>{{funcionario.nomeFuncionario}}</h3>
        <p>NIF: {{funcionario.NIF}}</p>
        <p><strong>Cargo/Posição:</strong> {{funcionario.cargo}}</p>
        <p><strong>Setor:</strong> {{funcionario.nomeSetor}}</p>


        {% if not funcionario.condicoesEspeciais %}
        <div class="mb-3">
            <div class="p-3 mb-2" style="background-color: #f4a261; color: #fff; border-radius: 10px;">
                <p><strong style="color:black">Condições Especiais:</strong> Nenhuma</p>
            </div>
        {% else %}
        <div class="mb-3">
            <div class="p-3 mb-2" style="background-color: #f4a261; color: #fff; border-radius: 10px;">
                <p><strong style="color:black">Condições Especiais:</strong> {{funcionario.condicoesEspeciais}}</p>
            </div>
        {% endif %}
            <div class="p-3 my-2" style="background-color: #f4a261; color: #fff; border-radius: 10px;">
                <p><strong style="color:black">Tamanho de vestimentas:</strong> {{funcionario.tamRoupa}}</p>
            </div>
        </div>
            <div class="p-3" style="background-color: #f4a261; color: #fff; border-radius: 10px;">
                <p><strong style="color:black">Tamanho de calçados:</strong> {{funcionario.tamCalcado}}</p>
            </div>
        </div>

        <div style="display: flex; margin-top: 2%;">
            <form action="/editarFuncionario/{{ funcionario.idFuncionario }}" method="get">
                <div class="col-md-2 me-5">
                    <button type="submit">Editar</button>
                </div>
            </form>
            <form action="/excluirFuncionario/{{ funcionario.idFuncionario }}" method="post">
                <div class="col-md-2">
                    <button type="submit" style="background-color: red;">Excluir</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-12 mt-4">
        <h4>Seus EPIs</h4>
        <div class="row">
            {% for epi in EPIs %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm {% if epi.dataVencimento < now %}border-danger{% else %}border-success{% endif %}">
                    <div class="card-body position-relative">
                        {% if epi.dataVencimento < now %}
                        <div class="card-status-vencido"></div>
                        {% else %}
                        <div class="card-status-prazo"></div>
                        {% endif %}
                        <h5 class="card-title">Código(CA): {{ epi.codigoCA }}</h5>
                        <p class="card-text">Equipamento: {{ epi.nomeEquipamento }}</p>
                        <p class="card-text">
                            Status: 
                            {% if epi.dataVencimento < now %}
                            <span class="status-text-vencido">Vencido</span>
                            {% else %}
                            <span class="status-text-prazo">No Prazo</span>
                            {% endif %}
                        </p>
                        <a href="{{ url_for('admin.epi_funcionario', id=epi.idEPI_Funcionario) }}" class="btn btn-custom">Ver mais</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}