{% extends 'model.html' %}

{% block conteudo %}

<style>
/* Layout geral do contêiner */
.container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    margin-top: 5%;
}

/* Bordas tracejadas */
.dashed-border {
    border: 2px dashed orange;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 70%; /* Ajuste para preencher mais espaço e deixar alinhado */
}

/* Contêiner do formulário */
.form-container {
    display: flex;
    justify-content: center;
    width: 90%; /* Ajuste da largura do contêiner do formulário */
    padding: 9px;
    margin-left: 11%;
}

.epi-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #ddd;
    border: 1px solid orange; /* Adiciona borda laranja */
}

input[type="text"]::placeholder {
    color: #ccc;
    
}

button {
    background-color: #015799;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 48%;
    transition: all 200ms;
    display: inline-block;
}

button:hover {
    background-color: #ff914d;
    transform: scale(1.05);
}
</style>

<div class="form-container">
    <form class="epi-form">
    <div class="dashed-border">
    <form>
        <div style="margin-bottom: 10px;" class="form-group">
            <label for="nome-completo">Nome Completo</label>
            <input type="text" id="nome-completo" placeholder="Escreva aqui...">
        </div>
        <div style="margin-bottom: 10px;" class="form-group">
            <label for="nome-completo">CPF</label>
            <input type="text" id="cpf" placeholder="Escreva aqui...">
        </div>

        <div style="margin-bottom: 10px;" class="form-group">
            <label for="nif">Número de Identificação NIF</label>
            <input type="text" id="nif" placeholder="Escreva aqui...">
        </div>

        <div style="margin-bottom: 10px;" class="form-group">
            <label for="cargo">Cargo/Posição</label>
            <input type="text" id="cargo" placeholder="Escreva aqui...">
        </div>

        <div style="margin-bottom: 10px;" class="form-group">
            <label for="setor">Setor</label>
            <select id="setor">
                <option value="">Selecione o setor</option>
                <option value="">Cozinha</option>
                <option value="">Manutenção</option>
                <option value="">Professores</option>
                <option value="">Inspetores</option>
            </select>
        </div>

        <div style="margin-bottom: 10px;" class="form-group">
            <label for="tamanho-roupa">Tamanho de Roupas</label>
            <select id="setor">
                <option value="">Selecione o tamanho</option>
                <option value="">P</option>
                <option value="">M</option>
                <option value="">G</option>
                <option value="">GG</option>
            </select>
        </div>

        <div style="margin-bottom: 10px;" class="form-group">
            <label for="calcados">Calçados</label>
            <select id="calcados">
                <option>Selecione o tamanho</option>
                <option value="">33</option>
                <option value="">34</option>
                <option value="">35</option>
                <option value="">36</option>
                <option value="">37</option>
                <option value="">38</option>
                <option value="">39</option>
                <option value="">40</option>
                <option value="">41</option>
                <option value="">42</option>
                <option value="">43</option>
            </select>
        </div>

        <div style="margin-bottom: 10px;" class="form-group">
            <label for="condicoes-especiais">Condições Especiais</label>
            <input type="text" id="condicoes-especiais" placeholder="Restrições ou condições que possam exigir EPIs especiais">
        </div>

    </form>
</div>
</div>
</div>

<div class="form-group">
    <button type="submit">Editar</button>
</div>
{% endblock %}