
        body {
            background-color: #ffffff;
        }

        .sidebar {
            background-color: #0056b3;
            min-height: 100vh;
            padding: 20px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .sidebar-logo {
            max-width: 130%;
            margin-bottom: 10px;
            transition: transform 0.3s ease; /* Animação ao passar o mouse sobre a logo */
        }

        .sidebar-logo:hover {
            transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
        }

        .sidebar-title {
            font-size: 28px;
            font-weight: bold;
            margin-top: -20px; /* Subindo o texto um pouco mais */
            transition: transform 0.3s ease, color 0.3s ease; /* Animação para o título */
        }

        .sidebar-title:hover {
            transform: translateY(-5px); /* Efeito de subir o texto ao passar o mouse */
            color: #ffcc00; /* Troca de cor ao passar o mouse */
        }


        .btn-back {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: transparent;
            color: #F08424;
            border: 2px solid #F08424;
            padding: 10px 20px;
            border-radius: 50px;
            font-weight: bold;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            transition: background-color 0.3s ease, transform 0.3s ease; /* Animação para o botão de voltar */
        }

        .btn-back:hover {
            background-color: #f08424;
            color: white;
            transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
        }

        .btn-back i {
            margin-right: 8px;
        }

        /* Ajustes de responsividade */
        @media (max-width: 768px) {
            .sidebar {
                min-height: auto;
            }

            .sidebar-logo {
                max-width: 100%; /* Ajusta o tamanho da logo para telas menores */
            }

            .sidebar-title {
                font-size: 24px;
            }
        } 