.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: linear-gradient(to bottom, #e0e7ef, #003c7e);
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .icon {
    background-color: #f2f5fa;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.card img {
    width: 40px;
    height: 40px;
}

.card h3 {
    color: white;
    margin-bottom: 15px;
}

.indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.indicator.red {
    background-color: red;
}

.indicator.yellow {
    background-color: yellow;
    color: black; /* Ajusta a cor do texto para ser legível no fundo amarelo */
}